@import "../util"
@import "../base"

#gak-main-content-job
  padding normal-padding
  height 95%




  .gak-job
    background bg-color = linear-gradient(180deg, #4768dc, #AE6AB3)
    border-radius 1rem
    color white
    cursor pointer
    margin-right normal-padding
    margin-bottom normal-padding

    .gak-job-head
      text-align left
      font-size title-size
      font-weight bolder

      .gak-job-title
        margin-top normal-padding
        text-align center
        font-weight normal

    .gak-job-content
      margin-top 50px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      text-align left
      width 100%
      display inline-block
      font-size normal-size

    .gak-job-foot
      text-align left
      font-size small-normal-size
