@import "../../util"
@import "../../base"

#gak-main-content-class
  height 95%
  margin 0 auto
  padding-left normal-padding * 0.5

  .el-scrollbar__view
    height 100% !important
  .el-scrollbar__wrap
    overflow-x hidden !important
    padding-right normal-padding
  .el-table__body-wrapper
    overflow-x hidden
