@import "../util"
@import "../base"

#gak-main-content
  height 95%
  width 600px
  margin 0 auto

  // 隐藏横向滚动条
  .el-scrollbar__wrap
    overflow-x hidden
    padding-right normal-padding
  .el-table__body-wrapper
    overflow-x hidden
