@import "../util"
@import "../base"

#gak-main-monitor
  height full-size
  margin 5px

  .el-tabs
    margin 2px 10px

  #gak-main-monitor-tip
    padding 0 normal-padding
    .el-row
      margin normal-padding

  #gak-main-monitor-time
    height 160px
    display flex
    justify-content center
    align-items center

    span
      font-size title-size * 4

  #gak-main-monitor-table
    margin-bottom normal-padding * 3

    .el-table
      margin-right 15px
