@import "util"

*
  padding 0
  margin 0
  overflow hidden

html
  height full-size

body
  @extend html
  background-image bg-color
  background-repeat no-repeat
  background-attachment fixed

  #app
    @extend html
    font-family font-list
    text-align center

    #gak-container
      height 95%
      left 10%
      right 10%
      position absolute
      padding-top 20px


      .el-aside-hide
        width 0 !important

      .el-aside
        @extend html
        transition width fast-speed
        opacity 1
        overflow-x hidden

      .el-container
        @extend html


    @media screen and (max-width: middle-size )
      #gak-container
        left 1%
        right 1.5%
        padding-bottom .5rem





