@import "util"

*
  padding 0
  margin 0
  overflow hidden

// 填充所有
html
  height full-size

body
  @extend html
  // 设置背景
  background-image bg-color
  background-repeat no-repeat
  background-attachment fixed

  #app
    @extend html
    font-family font-list
    text-align center

    // 主容器
    #gak-container
      height 95%
      left 15%
      right 15%
      // 绝对定位
      position absolute
      padding-top normal-padding


      .el-aside-hide
        width 0 !important

      .el-aside
        @extend html
        // 侧边栏动画
        transition width fast-speed
        // 滚动条隐藏
        overflow-x hidden

      .el-container
        @extend html


    // 小屏幕时
    @media screen and (max-width: middle-size )
      #gak-container
        left 1%
        right 1.5%
        padding-bottom .5rem





