@import "../util"
#gak-main
  width full-size
  height full-size
  background-color white

  #gak-main-head
    background linear-gradient(180deg, #d0edf5, #e1e5f0)
    height 2rem
    position relative

    #gak-main-head-title
      line-height 1
      font-size 1.125em
      float left
      transition width slow-speed
      -webkit-transition width slow-speed
      width 100px
      padding-left 60px
      padding-top 8px

    #gak-main-head-nav
      position absolute
      left 0
      font-size 20px
      margin 0.5rem
      cursor pointer
      &:hover
        color white

    @media screen and (max-width: small-size )
      #gak-main-head-title
        padding-left 0
        width 100%

    @media screen and (mim-width: small-size )
      #gak-main-head-nav
        display none
