@import "../util"
#gak-main
  width full-size
  height full-size
  background-color white
  #gak-main-head
    background linear-gradient(180deg,#d0edf5,#e1e5f0)
    height 4em
    h1
      line-height 2.5
      text-align left
      font-size 1.5rem
      padding-left 2rem