@import "util/variable.styl"

.gak-text-left
  text-align left
.gak-text-center
  text-align center

.gak-text-placeholder
  color placeholder-font
  font-size small-normal-size

.gak-text-hidden
  overflow hidden
  text-overflow ellipsis
  white-space nowrap