@import "../util"
@import "../base"

#gak-main-home
  margin 20px
  #gak-main-home-title
    font-size 34px
    font-weight bolder
    text-align left
  #gak-main-home-hr
    width 100%
    max-width 600px
    color #cbcbcb
  #gak-main-home-content
    margin-top 10px
    text-align left
    text-indent 2em
    .el-row
      margin-top 20px
      .el-col
        text-indent 0
        margin-left 20px
        .gak-main-home-content-serial
          text-align center
          color white
          background-color #99cc00
          margin 0
          width 20px
          height 20px
          padding 5px
          border-radius 20px
        .gak-main-home-content-li
          line-height 2
          cursor pointer
