@import "../../util"
@import "../../base"

.el-scrollbar
  height 100%
#gak-main-call
  #gak-main-call-class
    margin normal-padding
  #gak-main-call-content
    justify-content  center
    align-items center
    font-weight bolder
    margin normal-padding

.gak-icon-right
  margin-right 5px