@import "../util"
@import "../base"

#gak-main-call
  #gak-main-call-class
    margin normal-padding
  #gak-main-call-content
    height 200px
    font-size 80px
    display flex
    justify-content  center
    align-items center
    font-weight bolder
    letter-spacing 20px
