@import "../util"
@import "../base"

#gak-main-tools
  .gak-main-tool
    cursor pointer
    margin 20px
    .gak-main-tool-icon
      padding normal-padding
      transition all 1s
      .gak-main-tool-icon-bg
        color hotpink
        font-size 5rem !important
      .gak-main-tool-icon-content
        color white
        font-size 5rem !important
      //&:hover
      //  -webkit-transform: rotateY(180deg);
