@import "../../util"
@import "../../base"

#gak-main-info
  margin 10px
  overflow-x hidden

  #gak-main-chart
    margin 0 auto
    overflow-x hidden

#gak-main-info
  height full-size
  overflow hidden
  margin-right 10px


.el-scrollbar
  height full-size
  margin 0