@import "../util"
@import "../base"

#gak-main-content
  height full-size
  padding normal-padding
  justify-content left
  #gak-main-login
    width 500px
    #gak-main-login-title
      font-size title-size * 2
