@import "../../util"
@import "../../base"

// 已经废弃的全局保存
#gak-main-head
  .el-button
    position absolute
    right 0
    font-size normal-size
    margin 0.2rem
    cursor pointer
    border-radius 2rem
    padding 5px



#gak-main-content
  padding normal-padding
  height full-size

  #class-info
    .el-col
      & > span
        line-height 2.5
        white-space nowrap
        text-overflow ellipsis
        text-align left
        width 100%
        font-size normal-size
        display inline-block

      #click-tip
        color placeholder-font
        text-align left
        font-size placeholder-size

  #student-info
    height full-size

    & > div
      height 85% !important

    th
      button
        width: 30px;
        padding: 2px;
        height: 30px;
        float: right;
        margin-top: 5px;

@media screen and (max-width: middle-size)
  #gak-main-content
    height 90%

