@import "../util"

// 侧边栏设置背景方法
transparent-font(col)
  background-color bg-transparent
  color col

#sideBar
  // 高宽占满
  height full-size
  width full-size
  text-align left
  margin-right 0

  .el-menu
    @extend #sideBar
    transparent-font menu-color
    border none
    // 平滑滚动，似手机端=-=但似乎无法识别
    -webkit-overflow-scrolling touch

    .el-menu-item
      transparent-font menu-color
      font-size  normal-size


      &:hover
        transparent-font menu-hover-color

      i
        width 100%
        height 100%
        text-align left
        margin 0
        line-height 3
        color menu-color
        border-bottom menu-color solid 0.5px
        &:hover
          color menu-hover-color
        .mark
          float right
          sup
            border none


    // 当前已经激活菜单的颜色固定
    .is-active
      i
        color menu-hover-color !important

