@import "../util"

#titleBar
  height 30px
  background-color rgba(27, 146, 236, 1)
  padding 0 3px 2px
  line-height 30px
  box-shadow 2px 2px 1px #888888
  -webkit-app-region drag
  color white

  h5
    line-height 2.2

  .right
    -webkit-app-region no-drag

    .el-button
      padding 0.25rem
      margin-left 0.4rem