@import "../util"
@import "../base"

#gak-main-about
  margin normal-padding
  #gak-main-about-title-1
    padding-top 20px
    color #228DFF
    font-size 40px
    cursor pointer
    &:hover
      text-decoration underline
  #gak-main-about-title-2
    padding-top 10px
    color #ff1177
    font-size 30px
  #gak-main-about-content
    padding-top 10px
    font-size 14px
    max-width 400px
  #gak-main-about-github
    width 50px
    cursor pointer
    padding 0
